[Unit]
Description=shortforge twice a day

[Timer]
OnCalendar=*-*-* 08:00:00
OnCalendar=*-*-* 20:00:00
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
